@model UpgradeERP.Models.SoporteTecnico.ReporteTecnico

@{
    Layout = null;
    ViewData["Title"] = "Reporte Tecnico";
}

<!DOCTYPE html>
<HTML>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Major+Mono+Display&family=Raleway+Dots&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        :root {
            font-family: 'Darker Grotesque', sans-serif;
            /*font-family: 'Raleway Dots', cursive;*/
        }

        .column {
            /*            background: grey;*/
            float: left;
            width: 50%;
        }

        .column2 {
            /*background: red;*/
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Estilar Reporte */
        .Titulo {
            text-align: center;
            font-weight: 600;
        }

        .Sistemas {
            font-family: 'Raleway Dots', cursive;
            text-align: center;
            font-size: 15px;
        }

        .Descripcion {
            text-align: center;
        }

        .container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: DodgerBlue;
        }

        .space {
            margin: auto 10px;
        }

        .container > div {
            background-color: #f1f1f1;
            text-align: center;
            margin: 10px;
        }

        .Logo {
            display: block;
            margin: auto;
        }

        .Tabla {
            height: 550px;
            /* border: 1px solid blue;
                            border-radius: 5px;
                            padding: 10px;
                            margin: 10px;*/
        }

        .Autor {
            font-family: 'Raleway Dots', cursive;
            text-align: center;
            font-size: 10px;
        }

        .Row-Title {
            padding: 0;
            color: #052542;
            text-align: right;
        }

        .Row-Data {
            padding-left: 5px;
            border-left: 1px solid #052542;
        }

    </style>

    <div class="row">
        <div class="column">
            <!-- Reporte Tecnico 1 -->
            <div>
                <svg class="Logo" width="152" height="35" viewBox="0 0 152 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_8_7)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.34572 4.04196H11.0355L10.2953 7.57583C9.7958 7.88714 9.25583 8.12838 8.69056 8.29277C8.07145 8.48155 7.42797 8.57855 6.78067 8.58067C5.93747 8.64564 5.09904 8.40517 4.41874 7.90325C4.03511 7.56219 3.73406 7.13853 3.53829 6.66424C3.34251 6.18995 3.25715 5.67742 3.28862 5.16535C3.28523 4.35853 3.45277 3.56013 3.78022 2.82261C4.11879 2.00309 4.68554 1.29778 5.41323 0.79035C6.14806 0.289997 7.02181 0.0332562 7.91078 0.0564792C8.72853 0.0160312 9.53625 0.250564 10.2049 0.722608C10.8017 1.20946 11.2029 1.89488 11.335 2.65325L9.75851 2.82261C9.6518 2.4101 9.41626 2.0423 9.0861 1.77261C8.74431 1.52889 8.33019 1.40755 7.91078 1.42825C7.35089 1.41519 6.80082 1.57668 6.33703 1.89031C5.87324 2.20393 5.51875 2.6541 5.32283 3.17825C5.05835 3.79517 4.92556 4.4604 4.93294 5.13148C4.88722 5.68529 5.05725 6.23535 5.40758 6.66696C5.58902 6.84132 5.80481 6.97604 6.0412 7.06253C6.2776 7.14903 6.52943 7.18542 6.78067 7.16938C7.16286 7.16889 7.54315 7.1157 7.91078 7.01132C8.25224 6.92358 8.58363 6.80061 8.89963 6.64438L9.1539 5.41938H7.0632L7.34572 4.04196Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8776 2.46693H14.3863L14.1264 3.62984C14.6914 2.76048 15.3017 2.32581 15.9572 2.32581C16.215 2.33367 16.4687 2.39318 16.703 2.50081L16.1041 3.82177C15.8825 3.7464 15.6454 3.72862 15.4151 3.7701C15.1848 3.81158 14.9688 3.91096 14.7875 4.05887C14.4985 4.27792 14.2709 4.56759 14.1264 4.9C13.9062 5.44574 13.7451 6.0135 13.6461 6.59355L13.2393 8.46774H11.6232L12.8776 2.46693Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4433 2.46692H19.0593L18.3191 6.00643C18.2544 6.26807 18.2091 6.53411 18.1835 6.8024C18.1836 6.88639 18.2013 6.96943 18.2353 7.04622C18.2694 7.12301 18.3191 7.19186 18.3813 7.24837C18.5129 7.37052 18.6877 7.43549 18.8672 7.42902C19.012 7.42742 19.1554 7.40067 19.291 7.34998C19.445 7.28756 19.5896 7.20396 19.7204 7.1016C19.8652 6.99165 19.9961 6.86465 20.1103 6.72337C20.2452 6.55123 20.3555 6.36125 20.4381 6.15885C20.5387 5.88352 20.6162 5.60028 20.6697 5.31208L21.2687 2.4895H22.8848L21.636 8.46773H20.1273L20.2912 7.65482C20.0115 7.94379 19.6772 8.17442 19.3076 8.33334C18.9381 8.49226 18.5406 8.57632 18.1383 8.58063C17.9224 8.59645 17.7055 8.56751 17.5013 8.49563C17.2971 8.42374 17.11 8.31045 16.9517 8.16289C16.8076 8.01358 16.6957 7.83637 16.6228 7.6422C16.5499 7.44802 16.5176 7.24098 16.5279 7.03385C16.5603 6.61747 16.6246 6.20418 16.72 5.79756L17.4433 2.46692Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9533 6.11372C27.8394 6.48374 27.6265 6.8156 27.3374 7.0734C27.1152 7.24781 26.8402 7.34139 26.5576 7.33872C26.4045 7.33839 26.2535 7.30373 26.1156 7.23729C25.9777 7.17085 25.8565 7.07433 25.7609 6.95485C25.5233 6.65387 25.4047 6.27619 25.4275 5.89356C25.4389 5.50874 25.5094 5.12796 25.6366 4.76453C25.7342 4.39606 25.9294 4.06066 26.2016 3.79356C26.4318 3.58374 26.732 3.46702 27.0436 3.46614C27.1979 3.46166 27.3513 3.4912 27.4929 3.55267C27.6345 3.61414 27.7609 3.70602 27.8629 3.82179C28.0951 4.11194 28.2101 4.47854 28.185 4.84921C28.1758 5.27639 28.0916 5.69866 27.9364 6.09679L27.9533 6.11372ZM29.2021 2.97501C29.0139 2.76104 28.7803 2.59172 28.5184 2.47941C28.2564 2.3671 27.9726 2.31463 27.6877 2.32582C27.3742 2.32557 27.0636 2.38496 26.7723 2.50082C26.4378 2.65441 26.1275 2.856 25.8513 3.09921L25.9926 2.50646H24.45L22.8 10.3758L23.868 8.9984L24.433 10.3589L24.9981 7.62663C25.1831 7.93359 25.4478 8.18484 25.7642 8.35379C26.0805 8.52273 26.4366 8.60307 26.7949 8.5863C27.182 8.58817 27.5646 8.50345 27.9146 8.33837C28.2647 8.17329 28.5733 7.93202 28.8178 7.63227C29.4794 6.8806 29.8308 5.90613 29.801 4.90566C29.8468 4.21031 29.6334 3.52263 29.2021 2.97501V2.97501Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1408 4.8097C35.1486 4.64195 35.1232 4.47431 35.0659 4.31641C35.0087 4.15851 34.9209 4.01344 34.8074 3.88953C34.6954 3.77337 34.5598 3.68253 34.4097 3.62313C34.2596 3.56373 34.0985 3.53715 33.9372 3.54518C33.6 3.53938 33.2715 3.65342 33.0106 3.86695C32.7167 4.11467 32.4976 4.43912 32.3777 4.80405C32.2397 5.16511 32.1633 5.54676 32.1517 5.93308C32.1339 6.30411 32.2593 6.6678 32.502 6.94921C32.6127 7.07197 32.749 7.16896 32.9013 7.23334C33.0536 7.29771 33.2182 7.32791 33.3835 7.32179C33.6034 7.32544 33.821 7.27603 34.0177 7.17775C34.2145 7.07948 34.3846 6.93524 34.5136 6.75728C34.95 6.19912 35.1778 5.50636 35.1578 4.79841L35.1408 4.8097ZM30.513 5.96695C30.4653 4.99388 30.8022 4.04102 31.451 3.31373C31.7691 2.98535 32.1529 2.72765 32.5774 2.55743C33.0019 2.38721 33.4576 2.30829 33.9146 2.32582C34.2905 2.30339 34.6671 2.35625 35.0223 2.48131C35.3775 2.60637 35.704 2.8011 35.9828 3.05405C36.2355 3.31273 36.4322 3.62068 36.5605 3.95868C36.6889 4.29669 36.7461 4.65749 36.7286 5.01857C36.7437 5.94302 36.411 6.83947 35.7963 7.53066C35.4888 7.87519 35.1092 8.14787 34.6844 8.32933C34.2596 8.5108 33.8 8.59661 33.3383 8.58066C32.8195 8.59288 32.3055 8.47856 31.8409 8.2476C31.4228 8.04015 31.0807 7.70633 30.8633 7.29357C30.6404 6.88636 30.5202 6.43103 30.513 5.96695Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.4625 21.0959H28.8517L29.8801 16.1903L33.666 16.1621C35.2877 16.1621 36.0619 17.2177 36.0167 18.3411C35.9715 19.4645 34.9487 21.0846 32.4625 21.0846V21.0959ZM41.8141 15.4959C41.6816 14.8556 41.4211 14.2486 41.0483 13.7113C40.6755 13.1739 40.1979 12.7172 39.6443 12.3685C38.3955 11.6391 36.9651 11.2789 35.5194 11.3298H25.0489L24.9698 11.7758L26.665 15.9645H24.1787L20.7036 34.3621H26.4051L27.8686 26.0806L31.0272 26.0524C32.4968 26.0916 33.9661 25.9628 35.4064 25.6685C37.069 25.2512 38.5637 24.3351 39.6895 23.0435C40.5596 22.1366 41.2008 21.0354 41.5599 19.8314C41.9267 18.4166 42.013 16.9438 41.8141 15.4959V15.4959Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M53.539 21.4065L64.4164 21.4516L62.3539 31.1049C61.1051 31.8839 59.393 33.0581 57.5792 33.6C55.7944 34.1806 53.935 34.5001 52.0586 34.5484C49.1316 34.5484 46.8092 33.9839 45.2779 32.7137C43.142 30.9694 42.1475 28.4799 42.1475 25.1661C42.177 22.9215 42.6775 20.7079 43.6167 18.6686C44.7275 16.3444 46.4652 14.3757 48.6344 12.9839C50.8588 11.5984 53.4383 10.8884 56.0592 10.9403C58.7997 10.9403 60.6644 11.55 62.32 12.7807C63.9756 14.0113 64.6876 15.8403 64.6876 18.4258L59.037 19.4363C58.828 18.0928 58.8732 16.8903 56.692 16.1508C55.2003 15.6371 52.8327 16.179 51.4879 16.9524C48.6626 18.5839 47.8433 23.1621 47.8433 25.1153C47.8433 27.0686 48.7756 29.6936 52.0416 29.6936C55.3077 29.6936 56.5621 28.4968 57.3475 28.1016L57.6639 26.2557L52.6632 26.2952L53.539 21.4065Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M72.7396 20.5427C72.7396 20.5427 75.2033 20.5427 78.0624 20.5427C78.7562 20.5984 79.4445 20.382 79.9813 19.9394C80.5182 19.4968 80.8615 18.8629 80.9386 18.1718C81.1929 16.6081 80.43 16.2298 78.5202 16.2298C74.4291 16.2298 73.5251 16.2298 73.5251 16.2298L72.7396 20.5315V20.5427ZM70.0161 34.1589H64.3655L68.7955 11.2903H79.5316C80.9194 11.2434 82.305 11.4344 83.6283 11.8548C84.6151 12.2247 85.4463 12.9197 85.9845 13.825C86.6062 14.8763 86.9177 16.0818 86.883 17.3024C86.883 19.2444 85.8546 20.8815 84.6906 22.1403C83.5265 23.3992 82.8711 23.6984 80.69 24.4774C81.4923 24.9234 81.8201 25.5726 82.3286 26.4532C83.3796 28.2427 84.3741 30.9073 85.6625 34.1702H79.2321C78.8253 32.8718 75.6779 27.0968 75.6779 27.0968C75.1129 26.0919 74.7682 25.6121 74.254 25.4032C73.4456 25.2708 72.6259 25.2198 71.8073 25.2508L70.0161 34.1589Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M99.5628 24.4831L98.4327 18.8379L95.308 24.4266L99.5741 24.4662L99.5628 24.4831ZM100.529 29.2589H92.6183L89.793 34.1589H83.7752L97.1048 11.2903H102.705L107.564 34.1476H101.563L100.529 29.2589Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M114.667 29.3549H119.108C119.891 29.3253 120.652 29.0832 121.308 28.6545C121.964 28.2259 122.491 27.6269 122.832 26.9218C123.713 25.3129 124.798 20.9944 124.386 18.4992C124.21 17.8753 123.843 17.322 123.336 16.9171C122.829 16.5121 122.208 16.2758 121.56 16.2412H117.176L114.667 29.3549ZM108.095 34.1589L112.474 11.2903H119.046C120.741 11.2903 121.871 11.3694 122.34 11.3694C127.239 11.3694 128.889 14.3049 129.302 15.0613C130.149 16.6081 130.364 19.0468 130.228 20.7686C130.118 23.0213 129.567 25.2305 128.607 27.2718C127.795 29.0446 126.598 30.6144 125.103 31.867C123.779 32.8148 122.27 33.4727 120.673 33.7976C119.183 34.0723 117.668 34.1877 116.153 34.142L108.095 34.1589Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M129.861 34.1589L134.342 11.3016H151.847L150.893 16.2242H139.049L138.343 19.8766H149.463L148.474 24.675H137.388L136.534 29.4339H148.745L147.892 34.1589H129.861Z" fill="#1B3C71" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5169 15.9645L21.8225 11.6629L16.3414 11.5782L14.036 24.0541C13.7608 25.513 13.3033 26.9316 12.6742 28.2766C12.273 29.1178 11.0864 30.0436 8.62275 29.8008C6.15911 29.5581 5.92178 28.4008 5.91613 27.2831C5.97303 26.1834 6.109 25.0891 6.32297 24.0089L8.91658 11.646H3.14171L0.937993 23.5742C0.61026 25.1323 0.40119 26.1484 0.372937 26.4815C0.303253 26.9373 0.267369 27.3977 0.265576 27.8589C0.265576 29.9081 0.576357 31.6242 1.989 32.9395C3.40164 34.2549 5.54885 34.8137 8.20461 34.8137C10.4309 34.8137 12.759 34.3903 14.2564 33.5718C15.7708 32.8481 17.0156 31.6619 17.8106 30.1847C18.7015 28.2826 19.3416 26.2731 19.7148 24.2065L21.41 15.9984L18.5169 15.9645Z" fill="#1B3C71" />
                    </g>
                    <defs>
                        <clipPath id="clip0_8_7">
                            <rect width="152" height="35" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>



            <div class="row space">
                <div class="column2">
                    <div class="Ruc"><b>R.U.C.</b> - 20454043660</div>
                    <div class="Direccion"><b>Dirección</b> - Rivero 408 Of. 1</div>
                    <div class="Telefono"><b>Telefono</b> - 054-201476</div>
                    <div class="FechaRecepcion"><b>Fecha de Recepcion</b> - @Model.FechaRecepcion.ToString("dd/MM/yyyy")</div>
                </div>
                <div class="column2">
                    <div style="text-align: right;">
                        <b>Nro</b>
                        <div>01-010101</div>
                        <b>Fecha de Entrega</b>
                        <div>@Model.FechaEntrega.ToString("dd/MM/yyyy")</div>
                    </div>
                </div>
            </div>
            <div class="Titulo"></div>

            <div class="Tabla">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th class="Row-Title"> </th>
                            <th@* class="Row-Data"*@>REPORTE DE SERVICIO TECNICO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="Row-Title"><b>FECHA RECEPCION</b></td>
                            <td class="Row-Data">@Model.FechaRecepcion.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>TIPO</b></td>
                            <td class="Row-Data">@Model.Tipodemantenimiento</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>EQUIPO</b></td>
                            <td class="Row-Data">@Model.Articulo.Producto.Nombre</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>DEJA</b></td>
                            <td class="Row-Data">@Model.ObjetosDejados
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>CLIENTE</b></td>
                            <td class="Row-Data">@Model.Cliente.Persona.Nombre</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>DIRECCION</b></td>
                            <td class="Row-Data">@Model.Cliente.Persona.Direccion</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>TELF/CEL</b></td>
                            <td class="Row-Data">@Model.Cliente.Persona.Telefono</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>ENCARGADO</b></td>
                            <td class="Row-Data">@Model.Encargado.Persona.Nombre</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>FALLAS PREVIAS</b></td>
                            <td class="Row-Data">@Model.Fallas</td>
                        </tr>
                        <tr>
                            <td class="Row-Title"><b>PRUEBAS RESULTADO</b></td>
                            <td class="Row-Data">@Model.Resultado</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="column">

                    <br />
                    <br />
                    <div style="text-align: center;">_______________________</div>
                    <div class="row">
                        <div class="column" style="text-align: center;"><b>CLIENTE</b> -<br /> <b>DNI</b> -</div>
                        <div class="column"></div>
                    </div>
                    <br />
                </div>
                <div class="column" style="text-align: center;">

                    <br />
                    <br />
                    <div> _______________________</div>
                    <div><b>SOPORTE TECNICO</b></div>
                    <br />
                </div>
            </div>
            <div class="space" style="text-align: justify;">
                NOTA: El cliente al firmar acepta los términos y condiciones del servicio ofrecido. Asimismo, toma conocimiento que transcurrido un
                periodo de 03(tres) meses de no recoger su equipo, la empresa queda exenta de responsabilidad por posibles pérdidas o deterioros del
                mismo. Términos y condiciones en el presente documento (reverso)
            </div>
            <div class="Autor">Desarrollado por</div>
            <div class="Sistemas">C O N S U L T A N C Y</div>
        </div>
    </div>
    <div class="column">
        <!-- Reporte Tecnico 2 -->
        <div>
            <svg class="Logo" width="152" height="35" viewBox="0 0 152 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_8_7)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.34572 4.04196H11.0355L10.2953 7.57583C9.7958 7.88714 9.25583 8.12838 8.69056 8.29277C8.07145 8.48155 7.42797 8.57855 6.78067 8.58067C5.93747 8.64564 5.09904 8.40517 4.41874 7.90325C4.03511 7.56219 3.73406 7.13853 3.53829 6.66424C3.34251 6.18995 3.25715 5.67742 3.28862 5.16535C3.28523 4.35853 3.45277 3.56013 3.78022 2.82261C4.11879 2.00309 4.68554 1.29778 5.41323 0.79035C6.14806 0.289997 7.02181 0.0332562 7.91078 0.0564792C8.72853 0.0160312 9.53625 0.250564 10.2049 0.722608C10.8017 1.20946 11.2029 1.89488 11.335 2.65325L9.75851 2.82261C9.6518 2.4101 9.41626 2.0423 9.0861 1.77261C8.74431 1.52889 8.33019 1.40755 7.91078 1.42825C7.35089 1.41519 6.80082 1.57668 6.33703 1.89031C5.87324 2.20393 5.51875 2.6541 5.32283 3.17825C5.05835 3.79517 4.92556 4.4604 4.93294 5.13148C4.88722 5.68529 5.05725 6.23535 5.40758 6.66696C5.58902 6.84132 5.80481 6.97604 6.0412 7.06253C6.2776 7.14903 6.52943 7.18542 6.78067 7.16938C7.16286 7.16889 7.54315 7.1157 7.91078 7.01132C8.25224 6.92358 8.58363 6.80061 8.89963 6.64438L9.1539 5.41938H7.0632L7.34572 4.04196Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8776 2.46693H14.3863L14.1264 3.62984C14.6914 2.76048 15.3017 2.32581 15.9572 2.32581C16.215 2.33367 16.4687 2.39318 16.703 2.50081L16.1041 3.82177C15.8825 3.7464 15.6454 3.72862 15.4151 3.7701C15.1848 3.81158 14.9688 3.91096 14.7875 4.05887C14.4985 4.27792 14.2709 4.56759 14.1264 4.9C13.9062 5.44574 13.7451 6.0135 13.6461 6.59355L13.2393 8.46774H11.6232L12.8776 2.46693Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4433 2.46692H19.0593L18.3191 6.00643C18.2544 6.26807 18.2091 6.53411 18.1835 6.8024C18.1836 6.88639 18.2013 6.96943 18.2353 7.04622C18.2694 7.12301 18.3191 7.19186 18.3813 7.24837C18.5129 7.37052 18.6877 7.43549 18.8672 7.42902C19.012 7.42742 19.1554 7.40067 19.291 7.34998C19.445 7.28756 19.5896 7.20396 19.7204 7.1016C19.8652 6.99165 19.9961 6.86465 20.1103 6.72337C20.2452 6.55123 20.3555 6.36125 20.4381 6.15885C20.5387 5.88352 20.6162 5.60028 20.6697 5.31208L21.2687 2.4895H22.8848L21.636 8.46773H20.1273L20.2912 7.65482C20.0115 7.94379 19.6772 8.17442 19.3076 8.33334C18.9381 8.49226 18.5406 8.57632 18.1383 8.58063C17.9224 8.59645 17.7055 8.56751 17.5013 8.49563C17.2971 8.42374 17.11 8.31045 16.9517 8.16289C16.8076 8.01358 16.6957 7.83637 16.6228 7.6422C16.5499 7.44802 16.5176 7.24098 16.5279 7.03385C16.5603 6.61747 16.6246 6.20418 16.72 5.79756L17.4433 2.46692Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9533 6.11372C27.8394 6.48374 27.6265 6.8156 27.3374 7.0734C27.1152 7.24781 26.8402 7.34139 26.5576 7.33872C26.4045 7.33839 26.2535 7.30373 26.1156 7.23729C25.9777 7.17085 25.8565 7.07433 25.7609 6.95485C25.5233 6.65387 25.4047 6.27619 25.4275 5.89356C25.4389 5.50874 25.5094 5.12796 25.6366 4.76453C25.7342 4.39606 25.9294 4.06066 26.2016 3.79356C26.4318 3.58374 26.732 3.46702 27.0436 3.46614C27.1979 3.46166 27.3513 3.4912 27.4929 3.55267C27.6345 3.61414 27.7609 3.70602 27.8629 3.82179C28.0951 4.11194 28.2101 4.47854 28.185 4.84921C28.1758 5.27639 28.0916 5.69866 27.9364 6.09679L27.9533 6.11372ZM29.2021 2.97501C29.0139 2.76104 28.7803 2.59172 28.5184 2.47941C28.2564 2.3671 27.9726 2.31463 27.6877 2.32582C27.3742 2.32557 27.0636 2.38496 26.7723 2.50082C26.4378 2.65441 26.1275 2.856 25.8513 3.09921L25.9926 2.50646H24.45L22.8 10.3758L23.868 8.9984L24.433 10.3589L24.9981 7.62663C25.1831 7.93359 25.4478 8.18484 25.7642 8.35379C26.0805 8.52273 26.4366 8.60307 26.7949 8.5863C27.182 8.58817 27.5646 8.50345 27.9146 8.33837C28.2647 8.17329 28.5733 7.93202 28.8178 7.63227C29.4794 6.8806 29.8308 5.90613 29.801 4.90566C29.8468 4.21031 29.6334 3.52263 29.2021 2.97501V2.97501Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1408 4.8097C35.1486 4.64195 35.1232 4.47431 35.0659 4.31641C35.0087 4.15851 34.9209 4.01344 34.8074 3.88953C34.6954 3.77337 34.5598 3.68253 34.4097 3.62313C34.2596 3.56373 34.0985 3.53715 33.9372 3.54518C33.6 3.53938 33.2715 3.65342 33.0106 3.86695C32.7167 4.11467 32.4976 4.43912 32.3777 4.80405C32.2397 5.16511 32.1633 5.54676 32.1517 5.93308C32.1339 6.30411 32.2593 6.6678 32.502 6.94921C32.6127 7.07197 32.749 7.16896 32.9013 7.23334C33.0536 7.29771 33.2182 7.32791 33.3835 7.32179C33.6034 7.32544 33.821 7.27603 34.0177 7.17775C34.2145 7.07948 34.3846 6.93524 34.5136 6.75728C34.95 6.19912 35.1778 5.50636 35.1578 4.79841L35.1408 4.8097ZM30.513 5.96695C30.4653 4.99388 30.8022 4.04102 31.451 3.31373C31.7691 2.98535 32.1529 2.72765 32.5774 2.55743C33.0019 2.38721 33.4576 2.30829 33.9146 2.32582C34.2905 2.30339 34.6671 2.35625 35.0223 2.48131C35.3775 2.60637 35.704 2.8011 35.9828 3.05405C36.2355 3.31273 36.4322 3.62068 36.5605 3.95868C36.6889 4.29669 36.7461 4.65749 36.7286 5.01857C36.7437 5.94302 36.411 6.83947 35.7963 7.53066C35.4888 7.87519 35.1092 8.14787 34.6844 8.32933C34.2596 8.5108 33.8 8.59661 33.3383 8.58066C32.8195 8.59288 32.3055 8.47856 31.8409 8.2476C31.4228 8.04015 31.0807 7.70633 30.8633 7.29357C30.6404 6.88636 30.5202 6.43103 30.513 5.96695Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.4625 21.0959H28.8517L29.8801 16.1903L33.666 16.1621C35.2877 16.1621 36.0619 17.2177 36.0167 18.3411C35.9715 19.4645 34.9487 21.0846 32.4625 21.0846V21.0959ZM41.8141 15.4959C41.6816 14.8556 41.4211 14.2486 41.0483 13.7113C40.6755 13.1739 40.1979 12.7172 39.6443 12.3685C38.3955 11.6391 36.9651 11.2789 35.5194 11.3298H25.0489L24.9698 11.7758L26.665 15.9645H24.1787L20.7036 34.3621H26.4051L27.8686 26.0806L31.0272 26.0524C32.4968 26.0916 33.9661 25.9628 35.4064 25.6685C37.069 25.2512 38.5637 24.3351 39.6895 23.0435C40.5596 22.1366 41.2008 21.0354 41.5599 19.8314C41.9267 18.4166 42.013 16.9438 41.8141 15.4959V15.4959Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M53.539 21.4065L64.4164 21.4516L62.3539 31.1049C61.1051 31.8839 59.393 33.0581 57.5792 33.6C55.7944 34.1806 53.935 34.5001 52.0586 34.5484C49.1316 34.5484 46.8092 33.9839 45.2779 32.7137C43.142 30.9694 42.1475 28.4799 42.1475 25.1661C42.177 22.9215 42.6775 20.7079 43.6167 18.6686C44.7275 16.3444 46.4652 14.3757 48.6344 12.9839C50.8588 11.5984 53.4383 10.8884 56.0592 10.9403C58.7997 10.9403 60.6644 11.55 62.32 12.7807C63.9756 14.0113 64.6876 15.8403 64.6876 18.4258L59.037 19.4363C58.828 18.0928 58.8732 16.8903 56.692 16.1508C55.2003 15.6371 52.8327 16.179 51.4879 16.9524C48.6626 18.5839 47.8433 23.1621 47.8433 25.1153C47.8433 27.0686 48.7756 29.6936 52.0416 29.6936C55.3077 29.6936 56.5621 28.4968 57.3475 28.1016L57.6639 26.2557L52.6632 26.2952L53.539 21.4065Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M72.7396 20.5427C72.7396 20.5427 75.2033 20.5427 78.0624 20.5427C78.7562 20.5984 79.4445 20.382 79.9813 19.9394C80.5182 19.4968 80.8615 18.8629 80.9386 18.1718C81.1929 16.6081 80.43 16.2298 78.5202 16.2298C74.4291 16.2298 73.5251 16.2298 73.5251 16.2298L72.7396 20.5315V20.5427ZM70.0161 34.1589H64.3655L68.7955 11.2903H79.5316C80.9194 11.2434 82.305 11.4344 83.6283 11.8548C84.6151 12.2247 85.4463 12.9197 85.9845 13.825C86.6062 14.8763 86.9177 16.0818 86.883 17.3024C86.883 19.2444 85.8546 20.8815 84.6906 22.1403C83.5265 23.3992 82.8711 23.6984 80.69 24.4774C81.4923 24.9234 81.8201 25.5726 82.3286 26.4532C83.3796 28.2427 84.3741 30.9073 85.6625 34.1702H79.2321C78.8253 32.8718 75.6779 27.0968 75.6779 27.0968C75.1129 26.0919 74.7682 25.6121 74.254 25.4032C73.4456 25.2708 72.6259 25.2198 71.8073 25.2508L70.0161 34.1589Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M99.5628 24.4831L98.4327 18.8379L95.308 24.4266L99.5741 24.4662L99.5628 24.4831ZM100.529 29.2589H92.6183L89.793 34.1589H83.7752L97.1048 11.2903H102.705L107.564 34.1476H101.563L100.529 29.2589Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M114.667 29.3549H119.108C119.891 29.3253 120.652 29.0832 121.308 28.6545C121.964 28.2259 122.491 27.6269 122.832 26.9218C123.713 25.3129 124.798 20.9944 124.386 18.4992C124.21 17.8753 123.843 17.322 123.336 16.9171C122.829 16.5121 122.208 16.2758 121.56 16.2412H117.176L114.667 29.3549ZM108.095 34.1589L112.474 11.2903H119.046C120.741 11.2903 121.871 11.3694 122.34 11.3694C127.239 11.3694 128.889 14.3049 129.302 15.0613C130.149 16.6081 130.364 19.0468 130.228 20.7686C130.118 23.0213 129.567 25.2305 128.607 27.2718C127.795 29.0446 126.598 30.6144 125.103 31.867C123.779 32.8148 122.27 33.4727 120.673 33.7976C119.183 34.0723 117.668 34.1877 116.153 34.142L108.095 34.1589Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M129.861 34.1589L134.342 11.3016H151.847L150.893 16.2242H139.049L138.343 19.8766H149.463L148.474 24.675H137.388L136.534 29.4339H148.745L147.892 34.1589H129.861Z" fill="#1B3C71" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5169 15.9645L21.8225 11.6629L16.3414 11.5782L14.036 24.0541C13.7608 25.513 13.3033 26.9316 12.6742 28.2766C12.273 29.1178 11.0864 30.0436 8.62275 29.8008C6.15911 29.5581 5.92178 28.4008 5.91613 27.2831C5.97303 26.1834 6.109 25.0891 6.32297 24.0089L8.91658 11.646H3.14171L0.937993 23.5742C0.61026 25.1323 0.40119 26.1484 0.372937 26.4815C0.303253 26.9373 0.267369 27.3977 0.265576 27.8589C0.265576 29.9081 0.576357 31.6242 1.989 32.9395C3.40164 34.2549 5.54885 34.8137 8.20461 34.8137C10.4309 34.8137 12.759 34.3903 14.2564 33.5718C15.7708 32.8481 17.0156 31.6619 17.8106 30.1847C18.7015 28.2826 19.3416 26.2731 19.7148 24.2065L21.41 15.9984L18.5169 15.9645Z" fill="#1B3C71" />
                </g>
                <defs>
                    <clipPath id="clip0_8_7">
                        <rect width="152" height="35" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>

        <div class="Descripcion">INSTALACION PROFESIONAL DE CABINA DE INTERNET,<br /> DESARROLLO DE SISTEMAS CON CONTROL DE CALIDAD TOTAL</div>

        <div class="row space">
            <div class="column2">
                <div class="Ruc"><b>R.U.C.</b> - 20454043660</div>
                <div class="Direccion"><b>Dirección</b> - Rivero 408 Of. 1</div>
                <div class="Telefono"><b>Telefono</b> - 054-201476</div>
                <div class="FechaRecepcion"><b>Fecha de Recepcion</b> - @Model.FechaRecepcion.ToString("dd/mm/yyyy")</div>
            </div>
            <div class="column2">
                <div style="text-align: center;">
                    Venta de equipos de computo,
                    suministros,mantenimiento y reparacion de
                    computadoras e impresoras
                </div>
            </div>
            <div class="column2">
                <div style="text-align: right;">
                    <b>Nro</b>
                    <div>01-010101</div>
                    <b>Fecha de Entrega</b>
                    <div>@Model.FechaEntrega.ToString("dd/mm/yyyy")</div>
                </div>
            </div>
        </div>
        <div class="Titulo">REPORTE DE SERVICIO TECNICO</div>
        <div class="Tabla">
            <div><b>TIPO</b></div>
            <span>@Model.Tipodemantenimiento</span>
            <div><b>EQUIPO</b></div>
            <span>@Model.Articulo.Producto.Nombre</span>
            <div><b>DEJA</b></div>
            <div>@Model.ObjetosDejados</div>
            <hr />
            <div><b>CLIENTE</b></div>
            <span>@Model.Cliente.Persona.Nombre</span>
            <div><b>DIRECCION</b></div>
            <span>@Model.Cliente.Persona.Direccion</span>
            <div><b>TELF/CEL</b></div>
            <span>@Model.Cliente.Persona.Telefono</span>
            <div><b>ENCARGADO</b></div>
            <span>@Model.Encargado.Persona.Nombre</span>
            <hr />
            <div><b>OBSERVACIONES</b></div>
            <div>@Model.Fallas</div>
            <br />
            <br />
            <br />
            <div><b>MANTENIMIENTOS</b></div>
            <div>@Model.Fallas</div>
            <br />
            <br />
            <br />
        </div>
        <div class="row">
            <div class="column">

                <br />
                <br />
                <div style="text-align: center;">_______________________</div>
                <div class="row">
                    <div class="column" style="text-align: center;"><b>CLIENTE</b> -<br /> <b>DNI</b> -</div>
                    <div class="column"></div>
                </div>
                <br />
            </div>
            <div class="column" style="text-align: center;">

                <br />
                <br />
                <div> _______________________</div>
                <div><b>SOPORTE TECNICO</b></div>
                <br />
            </div>
        </div>
        <div class="space" style="text-align: justify;">
            NOTA: El cliente al firmar acepta los términos y condiciones del servicio ofrecido. Asimismo, toma conocimiento que transcurrido un
            periodo de 03(tres) meses de no recoger su equipo, la empresa queda exenta de responsabilidad por posibles pérdidas o deterioros del
            mismo. Términos y condiciones en el presente documento (reverso)
        </div>
        <div class="Autor">Desarrollado por</div>
        <div class="Sistemas">C O N S U L T A N C Y</div>
    </div>




</body>
</HTML>


